* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    background-color: rgb(154, 148, 148);
}

header {
    display: inline;
    right: 20px;
}

li {
    display: inline;
}

.input-box {
    display: block;
}